@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* # css de about */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(249, 192, 126);
  
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.spacer{
  height: 50px;
}
section {
  padding: 80px 0; 
}

.about {
  display: flex;
  align-items: center;
}

.about-img {
  padding-right: 20%;
  float: left;
  margin-right: -30px;
  margin-left:15px; 
}
.about-text {
  text-align: justify;
}

.about-text h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 38px;
}

/* Estilos para las cards */ 
.value-card,
.team-card {
  border: 1px solid #ddd;
  background-color: rgb(241, 120, 78);
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  color: white;
}

/* Responsivo */
@media (max-width: 768px) {

  .about {
    flex-direction: column;
  }

  .value-card, 
  .team-card {
    width: 100%;
    margin-bottom: 20px;
  }

}
header {
    height: 100px;
}

.container__header {
    max-width: 1200px;
    height: 100%;
    margin: -30px auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 120px;
    height: 150px;
}

.menu nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu nav ul li {
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a {
    font-size: 16px;
    font-weight:bold;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu nav ul li a:hover {
    opacity: 0.6;
}


.btn__header-register,
.btn__register-cover {
    padding: 14px 50px;
    border: none;
    background: rgb(241, 120, 78);
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}

.btn__header-register:hover,
.btn__register-cover:hover {
    background: rgb(159, 95, 31);
    color: #000;
}

/* Mostrar el ícono de menú solo en pantallas más pequeñas */
#icon_menu {
    display: none;
    color: white;
  }

@media (max-width: 768px) {
    #icon_menu {
        display: block;
    }
    
    .menu {
        display: none;
        width: 100%;
    }
    
    .menu.responsive {
        display: block;
    }
    
    .menu nav ul {
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        display: none;
    }
    
    .menu.responsive nav ul li {
        padding: 10px 20px;
        text-align: center;
    }
    
    .menu.responsive nav ul li a {
        color: white;
    }
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    width: 100%;
    margin: 150px auto;
    padding: 20px;
    box-sizing: border-box;
}

.column1 {
    flex: 1;
    padding: 20px;
    height: 300px;
    border: 2px solid #a02424;
    margin: 10px;
}


.column h2 {
    margin-bottom: 10px;
    
}

.column img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ffffff;
}

footer {
    background-color: rgb(180, 89, 58);
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    max-width: 1200px; /* Establecemos un ancho máximo */
    margin: 0 auto; /* Centramos el footer en la página */
  }
  
  .container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .column {
    flex: 1;
    min-width: 300px; /* Asegurar que cada columna tenga un ancho mínimo */
    
  }

  h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .social-icons {
    display: flex;
    flex-direction: column; /* Mostrar los iconos de redes sociales en columna */
  }
  
  .social-icons a {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px; /* Espacio entre los íconos */
    text-align: left;
    
  }


  .social-icons h2 {
    font-size: 20px;
    color: #ffffff;
    padding: 4%;
  }
  
  .contact-info p {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .additional-info p {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /* Estilos para los íconos de redes sociales */
  .social-icons a:hover {
    color: rgb(244, 146, 52);
  }

  
  /* Estilos adicionales para el footer */
  footer {
    font-size: 16px;
    color: #555;
    font-weight: 500;
    margin-top: 100px;
  }
  
  /* Ajustes para pantallas más pequeñas */
  @media (max-width: 768px) {
    .container__footer {
      flex-direction: column;
      align-items: center;
    }
  
    .social-icons {
      margin-top: 10px;
      flex-direction: row; /* Mostrar los iconos de redes sociales en fila */
    }
  
    .social-icons a {
      margin: 0 5px; /* Espacio entre los íconos horizontales */
    }

    
  }
  

  .email-subscribe {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .email-subscribe input {
    font-size: 14px;
    padding: 8px;

    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
  }
  
  .email-subscribe button {
  background-color: rgb(250, 188, 61);
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
  }